<html>
<head>
  <title>Room - <%= room %></title>
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/navbar.css" rel="stylesheet">

</head>
<body>
  <div class="container">
    <div class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/threshold">Threshold</a>
      </div>
    </div>
    <div class="jumbotron">
      <h1>Room - <%= room %></h1>
      <p>Text 17786530430</p>
    </div>
    <ul class="list-group" id='smslist'>
      <% if(messTime){ %>
        <% messTime.forEach(function(json){ %>
          <li class="list-group-item">
            <% var obj = JSON.parse(json) %>
            <%= obj.message %>
            <span style="display:none;" class="badge"><%= obj.time %></span>
          </li>
        <% }); %>
      <% } %>
    </ul>
  </div>
  <script src="socket.io/socket.io.js"></script>
  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script>
    var socket = io.connect('<%= host %>');

    $(document).ready(function(){
      socket.on('sms-<%= room %>', function(data){
        var li = $('<li class="list-group-item">').text(data.message);
        var span = $('<span class="badge">').text(getTimeString(data.time));
        li.prepend(span);
        $('#smslist').prepend(li);
      });
      
      convertTimes();
    });

    // TODO test speeds with a lot of messages
    var convertTimes = function(){
      $(".badge").each(function(){
        $(this).text(getTimeString($(this).text()))
        $(this).css("display", "");
      });
    };

    var getTimeString = function(milli){
      var d = new Date(parseInt(milli));

      var min = '';

      if(d.getMinutes() < 10){
        min = '0' + d.getMinutes();
      }
      else{
        min = d.getMinutes();
      }

      return d.getHours() + ':' + min + ' ' + d.getDate() + '/' + (d.getMonth() + 1) + '/' + d.getFullYear();
    };
  </script>
</body>
