<html>
<head>
  <title>Threshold</title>
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/navbar.css" rel="stylesheet">

</head>
<body>
  <div class="container">
    <% include navbar %>
    <div class="jumbotron">
      <h1>Threshold</h1>
      <p>Text 17786530430</p>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">What?</h3>
      </div>
      <div class="panel-body">
        Something, Something, Something!
      </div>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal">
        Create a room!
      </button>
      <% if(rooms){ %>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#subModal">
          Subscribe to a room!
        </button>
      <% } %>
    </div>
    
    <table class="table">
      <% if(rooms){ %>
        <% var even = true %>
        <% if(rooms.length % 2 == 0){ %>
          <% var rows = rooms.length / 2 %>
        <% } %>
        <% if(rooms.length % 2 != 0){ %>
          <% var rows = Math.floor(rooms.length / 2) + 1 %>
          <% var even = false %>
        <% } %>
        <% for(i = 0; i < rows; i++){ %>
          <tr>
            <td id='<%= rooms[i + i]%>wid'>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <%= rooms[i + i] %> 
                    <button id="<%= rooms[i + i] %>" type="button" class="btn btn-primary"
                            onclick="enterRoom(this.id);">
                      Enter 
                    </button>
                    <button id="<%= rooms[i + i]%>" type="button" class="btn btn-primary"
                            onclick="initModal(this.id);">
                      Subscribe
                    </button>
                    <% if(auth){ %>
                      <button id="<%= rooms[i + i]%>" type="button" class="btn btn-danger"
                              onclick="deleteRoom(this.id);">
                        Delete 
                      </button>
                    <% } %>
                  </h3>
                </div>
                <div class="panel-body">
                  <!-- TODO messages: 10--> 
                </div>
              </div>
            </td>
            <% if(rooms[i + i + 1] != undefined){ %>
              <td id='<%= rooms[i + i + 1]%>wid'>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <%= rooms[i + i + 1] %>
                      <a href="/room?r=<%= rooms[i + i + 1] %>">
                        <button id="<%= rooms[i + i + 1] %>" type="button" class="btn btn-primary">
                          Enter
                        </button>
                      </a>
                      <button id="<%= rooms[i + i + 1] %>" type="button" class="btn btn-primary"
                              onclick="initModal(this.id);">
                        Subscribe
                      </button>
                      <% if(auth){ %>
                        <button id="<%= rooms[i + i + 1]%>" type="button" class="btn btn-danger"
                                onclick="deleteRoom(this.id);">
                          Delete 
                        </button>
                      <% } %>
                    </h3>
                  </div>
                  <div class="panel-body">
                    <!-- TODO messages: 10--> 
                  </div>
                </div>
              </td>
            <% } %>  
          </tr>
        <% } %> 
      <% } %>
    </table>
  </div>
  <div class="modal fade" id="createModal" role="dialog" aria-labelledby="createLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Create a Room:</h4> 
        </div>
        <div class="modal-body">
          <form role="form" action="room" method="post">
            <div class="form-group">
              <label for="nameInput">Room Name</label>
              <input class="form-control" type="name" name="nameInput" placeholder="Enter Room Name" 
                     maxlength=10>
            </div>
            <div class="form-group">
              <label for="numberInput">Subscribe Number</label>
              <input class="form-control" type="tel" name="numberInput" placeholder="Enter Subscribe #" 
                     maxlength=11>
            </div>
            <button type="submit" class="btn btn-primary">Create!</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="subModal" role="dialog" aria-labelledby="subLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Subscribe to a Room</h4> 
        </div>
        <div class="modal-body">
          <form role="form" method="post" action="room">
            <div class="form-group">
              <label for="numberInput">Subscribe Number</label>
              <input class="form-control" type="tel" name="snumberInput" placeholder="Enter Subscribe #" 
                     maxlength=11>
            </div>
            <div class="form-group">
              <label for="numberInput">Subscribe Room</label>
              <select id="formSelect" class="form-control" name="snameInput"> 
                <% if(rooms){ %>
                  <% rooms.forEach(function(rm){ %>
                    <option><%= rm %></option> 
                  <% }) %>
                <% } %>
              </select>  
            </div>
            <button type="submit" class="btn btn-primary">Subscribe!</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script>
    $('#nav-threshold').addClass('active');

    var initModal = function(id){
      $("#formSelect > option").filter(function(){
        if(this.value == id){
          return true;
        }
        else{
          return false;
        }
      }).attr("selected", true);
      $("#subModalName").text(id);
      $("#subModal").modal();
    };

    // maybe switch these to actual jquery get req
    var enterRoom = function(id){
      window.location.assign("/room?r=" + id);
    };

    // TODO ajax POST?
    var deleteRoom = function(id){
      window.location.assign("/delete?r=" + id);
    };
  </script>

</body>
</html>
